*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-con{
    background-color: #1F2937;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    font-style: Roboto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    flex: 1;
}

.content{
    width: 30vw;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.hero-image{
    width: 300px;
    height: auto;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    width: 100px;
}

.second-con{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1{
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info-img{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.info-img img{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    object-fit: cover;
}

.third-con{
    padding: 150px 200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
}

.quote-credit{
    font-size: 30px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 20px;
}

.fourth-con{
    background-color: #3882F6;
    margin: 50px 150px;
    padding: 70px 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main-cont h3 {
    font-size: 24px;
    margin-bottom: 5px; 
}

.main-cont p {
    font-size: 18px;
    color: #E5E7EB; 
}

.btn{
    border-radius: 8px;       
    border: 2px solid white;   
    background: #3882F6;       
    color: white;             
    padding: 5px 4px;         
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

footer{
    background-color: #1F2937;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}